@media (min-width: 46rem){
    .card{
        max-width: 550px;
        
        margin-inline: auto;
        padding: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        border-start-end-radius: 15px;
        border-end-end-radius: 15px;
    }
    .card img{
        height: 100%;
        object-fit: contain;
        border-start-start-radius: 15px;
        border-end-start-radius: 15px;
    }
    .mobile-img{
        display: none;
    }
    .desktop-img{
        display: block;
    }
    .card-right{
        padding-block: 30px;
        padding-inline: 20px;

        justify-content: space-between;
    }
}